<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day_type }}{{ direction_name }}第{{train_number}}班車</title>
</head>
<body>
    <h1>{{ day_type }}{{ direction_name }}第{{train_number}}班車</h1>
    <a href="../../../../">返回大廳</a>
    <ul>
        {% for timetable in timetables %}
            <li>{{ timetable.station_name }}    {{ timetable.arrival_time }}</li> <!-- 顯示 Station 的名稱 -->  <!-- 顯示到站時間 -->
        {% empty %}
            <li>No timetables available.</li> <!-- 若沒有資料 -->
        {% endfor %}
    <ul>
    </ul>
</body>
</html>
